repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: Ruff check+fix
        entry: uv run ruff check --fix .
        language: system
        types: [python]
      - id: ruff-format
        name: Ruff format
        entry: uv run ruff format .
        language: system
        types: [python]